

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
                padding-top: 60px;
                padding-bottom: 40px;
     }

.jquery {
  color: #3a87ad;
  width:23%
}

.dojo {
  color: #468847;
  width:23%
}

.notes {
  color: #333;
  width:40%
}

code, pre{
  background-color: #fff;
  border: 0;
  color: #D14;
}

code, pre, p { line-height: 1.4; }

pre { margin: 0; }

pre em, code em {
  color:#666;
}

.titleNote {
  line-height: 1.4;
  font-weight: bold;
}

.left{
  text-align: left;
}

.right{
  float: right;
  clear: right;
}












