

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
                padding-top: 60px;
                padding-bottom: 40px;
                font-smooth:  auto;
                font-family: "Open Sans", sans-serif;
     }

.jquery {
  color: #3A87AD;
  width:23%
}

.dojo {
  color: #468847;
  width:23%
}

.notes {
  color: #333;
  width:40%
}

code, pre{
  background-color: #fff;
  border: 0;
  color: #D14;
}

code, pre, p { line-height: 1.4; }

pre { margin: 0; }

pre em, code em {
  color:#666;
}

.titleNote {
  line-height: 1.4;
  font-weight: bold;
}

.left{
  text-align: left;
}

.right{
  float: right;
  clear: right;
}

.loud {
  font-weight: bold;
}

.navbar {
   background-color: #271B4C;
   font-size: 16px;
   background-image: url(/content/images/2015/04/low-poly-texture-5-3.png);

}

.navbar-brand{
  color:#fff;
  text-shadow:0 0;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;

}

.navbar-nav {
    float: right;
  margin: 0 auto;
  width: 80%;
}

.navbar .nav > li > a {
  color:#fff;
  text-shadow:0 0;
}

.navbar .nav > li > a:hover {
  color:#271B4C;
  text-shadow:0 0;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
color: #271B4C;
text-decoration: none;
background-color: #fff;
}

h3{
  line-height: 80px;
}








